<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655323366849-83ttku466f4bfj2sjl92asmed34kkf5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655323366849-83ttku466f4bfj2sjl92asmed34kkf5f</string>
	<key>API_KEY</key>
	<string>AIzaSyBdsZjNlDDqetcdh0qR2U_7yPHLPSe23oc</string>
	<key>GCM_SENDER_ID</key>
	<string>655323366849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.vanko.Instagram-SwiftUI</string>
	<key>PROJECT_ID</key>
	<string>instagramswiftui-317ee</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramswiftui-317ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655323366849:ios:c051d670d63738934bdb40</string>
</dict>
</plist>